.home-container {
    display: flex;
  }
  
  .logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue background */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }